.completedContainer {
  text-align: right;

  .completedBtn {
    background: transparent;
    border: none;
    color: #383a3f;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2.5rem;
  }
}
