.container {
  width: 100%;

  .title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .form {
    .input {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 1rem;
      color: #1a202c;
      border: 1px solid dodgerblue;
      border-radius: 0.25rem;
      margin-bottom: 0.5rem;
      padding: 0.4rem 0.5rem;
      outline: none;
      width: 100%;

      &::placeholder {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #718096;
      }
    }
  }

  .addBtn {
    background: transparent;
    border: none;
    color: #2d3748;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    cursor: pointer;

    .icon {
      margin-right: 0.5rem;
    }
  }
}
